<!-- Services Section -->
    <section id="features" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">simple &there4; beautiful</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Builtin API Methods</h4>
                    <p class="text-muted">basyt provides builtin methods for creating, reading, updating, deleting, listing and querying declared entities. These methods can be extended by hook definitions.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Authentication</h4>
                    <p class="text-muted">basyt provides json web token based authentication. You can easily use inside your mobile applications. You do not need to manage sessions, there will not be cookies, hence no CSRF trouble.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Authorization</h4>
                    <p class="text-muted">basyt provides role based access control. You can easily define authorization levels for creating, updating, deleting, querying and reading for each entity.</p>
                </div>                
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Entity Models</h4>
                    <p class="text-muted">basyt provides flexible entity definition capability. You can easily add extra custom actions, define hooks for database operations of entities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Database Connections</h4>
                    <p class="text-muted">basyt provides generic collection interface. MongoDB collection interface is implemented, and elasticsearch is planned for the next step.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Notification Ready</h4>
                    <p class="text-muted">basyt provides socket.io based websocket integration and emits entity update events in Redis to be consumed for notification implementation.</p>
                </div>
                
            </div>
        </div>
    </section>