<!-- Intro Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is basyt?</h2>
                    <h3 class="section-subheading text-muted">
                        basyt is a minimalist package to create JSON API server.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    <p>Typical scenario to use basyt is when you need to serve a rest-like JSON API that provides create/read/update/delete/query actions for your data entities.</p>
                    <p>In basyt, you simply declare entities. Then basyt does the rest for you. If you need authentication or custom actions related to your entity, you can easily decorate your entity.</p>
                    <p>You can connect your database using basyt collections and seamlessly integrate with your AngularJS web application using basyt angular module.</p>
                    <p>basyt is an extension over awesome web framework <a href="http://expressjs.com">expressjs</a>. By composition of basic middlewares, basyt simplifies building JSON API server over express.</p>
                </div>
            </div>
        </div>
    </section>